.project {
    padding-top: 18rem;
    
}

.projectList {
    width: 94%;
    height: auto;
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px; 
    background-color: #fefefeb9;
    text-align: center;
    color: #02150e;
    border-radius: 10px;
    font-family: 'montserrat';
}
h3 {
   
    font-size: 32px;
    text-align: center;
    font-weight: 900;
    font-family: 'Font Name', sans-serif;
    background: linear-gradient(to right, #4a4cd6, #7073FE); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
   
}


